* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    max-width: 1140px;
    width: 100%;
    height: 72px;
    padding: 12px 80px;
}

#navigation {
    max-width: 980px;
    width: 100%;
    height: 48px;
}

#headerLogo {
    width: 173.66px;
    height: 48px;
    padding: 13.5px;
    vertical-align: middle;
}

#menu-div {
    display: inline-block;
    max-width: 343px;
    height: 22px;
    width: 100%;
    vertical-align: middle;
    margin: 0 171px;
}

nav a {
    color: #323232;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-decoration: none;
}

#Services {
    margin: 0 20px;
}

#Resources {
    margin: 0 20px; 
}

nav button {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    border: 1px solid #AC00FF;
    background-color: #E9D7FE;
    border-radius: 8px;
    padding: 8px 16px;
    width: 105px;
    height: 33px;
    color: #AC00FF;
}

#main-container {
    max-width: 841px;
    height: 314px;
    width: 100%;
    margin-top: 136px;
    margin-left: 214px;
}

h1 {
    max-width: 720px;
    height: 148px;
    width: 100%;
    text-align: left;
    font-size: 64px;
    line-height: 74px;
    font-weight: 400px;
    color: #323232;
}

p {
    color: #323232;
    max-width: 841px;
    height: 64px;
    width: 100%;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    margin: 24px 0;
}

main button {
    width: 204px;
    height: 54px;
    border-radius: 8px;
    padding: 16px 24px;
    background-color: #5C3BAE;
    border: 1px solid #5C3BAE;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.78px;
    vertical-align: middle;
    margin-right: 24px;
}

#videoIcon {
    margin-right: 12px;
    vertical-align: middle;
}

#videoLink {
    display: inline-block;
    width: 194px;
    height: 34px;
    vertical-align: middle;
    text-decoration: underline solid ;
    color: #4D3491;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    text-align: center;
}

#videoLink a {
    display: inline-block;
    vertical-align: middle;
}

#cards-container {
    max-width: 1311px;
    width: 100%;
    max-height: 633px;
    height: 100%;
    margin-left: auto;
}

#cardImg {
    width: 1311px;
    height: 771px;
    margin-top: -128px;
}

